<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>艾泰科技</title>
  <link rel="stylesheet" href="/libs/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/public.css">
  <link rel="stylesheet" href="/static/css/index.css">
  <link rel="stylesheet" href="/static/css/iconfont.css" />
	<link rel="stylesheet" href="/static/css/publicDemo.css"/>
	<link rel="stylesheet" href="/static/css/zTreeStyle.css" />
  <link rel="stylesheet" href="/static/css/flex.css">
<!--
	<link rel="stylesheet" href="static/js/need/laydate.css"
	<link rel="shortcut icon" href="./static/img/favicon.ico" type="image/x-icon" />
-->
	<link rel="shortcut icon" href="/noAuth/images/favicon.ico" type="image/x-icon" />
</head>
<body>
  <div class="u-container">  
    <div id="header" class="u-c-top"><img id="toplogo" src="/static/img/logoimg.png" alt="" class="u-headlogo"></div>
    <div id="main" class="u-c-center clearfix">  
      <div id="sidebar" class="u-l-left main-left"></div>  
      <div class="u-l-right main-right"> 
      	<div id="retract" class="u-retract"><i class="icon-chevron-left"></i></div>
        <div id="path" class="M-B-10"></div>
        <div id="content"></div>
      </div>
    </div>
    <div id="footer"> 
    </div> 
  </div>  
  <noscript class="noscript">
    请允许浏览器使用javascript
  </noscript>
  <script src="/libs/js/sea.js"></script>
  <script src="/static/js/index.js"></script>
  <script type="text/javascript">
  	document.getElementById('toplogo').onclick = function(){
  		window.open("http://www.utt.com.cn/");
  	};
  </script>

</body>
</html>
